{{ form_start(form, {attr: {class: (app.user.autoFetchSubmissionTitles ?? true) ? 'auto-fetch-submission-titles'}}) }}
  {{ form_errors(form) }}

  {{ form_row(form.url, {attr: {class: 'fetch-title'}}) }}

  {{ form_row(form.title, {attr: {rows: 3, class: 'receive-title'}}) }}

  {{ form_row(form.body, {attr: {rows: 10}}) }}

  {% if form.forum is defined %}
    {{ form_row(form.forum, {attr: {class: 'select2'}, show_required_indicator: true}) }}
  {% endif %}

  {% if form.userFlag is defined %}
    {{ form_row(form.userFlag) }}
  {% endif %}

  <div class="form__row form__button-row">
    {{ form_widget(form.submit) }}
  </div>
{{ form_end(form) }}
