{% extends 'forum/base.html.twig' %}
{% from '_macros/icon.html.twig' import icon %}

{% block title %}
  {{ submission.title }}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar-card submission-meta">
    <p class="submission-meta__score">
      <strong class="submission-meta__vote-total">
        {{- 'submission.total_votes'|trans({'%count%': submission.votes|length}) -}}
      </strong>

      <span class="submission-meta__vote-stats">
        {{- 'submission.vote_stats'|trans({
          '%up%': submission.upvotes,
          '%down%': submission.downvotes,
        }) -}}
      </span>
    </p>

    <h4 class="no-margin fg-muted unheaderize text-xs">{{ 'item.short_url'|trans }}</h4>

    <p class="sidebar__no-padding">
      <kbd class="submission-meta__short-url">
        {{- url('submission_shortcut', {id: submission.id}) -}}
      </kbd>
    </p>
  </section>

  {{ parent() }}
{% endblock %}

{% block body %}
  <nav class="submission-permalink-nav">
    <ul class="flex flex--guttered unlistify">
      <li>
        <a href="{{ path('forum', {forum_name: forum.name}) }}"
           class="flex flex--guttered flex--slim-gutters flex--align-center no-margin fg-text"
           title="{{ 'comments.return_to_forum'|trans({ '%forum%': '/f/'~forum.name }) }}">
          {{ icon('left-small', '', 'icon--circled text-xl') }}
          <span class="text-lg">/f/<strong>{{ forum.name }}</strong></span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock body %}
