{% extends 'wiki/page.html.twig' %}

{% block site_nav_active 'places' %}
{% block site_nav_main_menu_active 'wiki' %}
{% block wiki_page_toolbox_active 'wiki_history' %}

{% block title 'title.wiki_diff'|trans({
  'from': from.id[0:8],
  'to': to.id[0:8],
}) %}

{% block body %}
  {% from '_macros/time.html.twig' import relative_time, relative_time_diff %}
  <h1 class="page-heading">
    {{ 'title.wiki_diff'|trans({
      '%from%': '<a href="%s">%s</a>'|format(
        path('wiki_revision', {id: from.id})|e,
        from.id[0:8]
      ),
      '%to%': '<a href="%s">%s</a>'|format(
        path('wiki_revision', {id: to.id})|e,
        to.id[0:8]
      )
    })|raw }}
  </h1>

  <table class="diff-table">
    <thead>
    <tr>
      <th class="diff-table__header diff-table__header--from" colspan="2">
        {{ relative_time(from.timestamp) }}
      </th>
      <th class="diff-table__header diff-table__header--to" colspan="2">
        {{ relative_time_diff(to.timestamp, from.timestamp) }}
      </th>
    </tr>
    </thead>
    <tbody class="diff-table__line-group">
    {% with { lastOldLineNo: 0, lastNewLineNo: 0 } %}
      {% for entry in diff %}
        {% if not loop.first and
            (entry.oldLineNo ?? lastOldLineNo) != lastOldLineNo + 1 and
            (entry.newLineNo ?? lastNewLineNo) != lastNewLineNo + 1 %}
          </tbody><tbody class="diff-table__line-group">
        {% endif %}

        {% set lastOldLineNo = entry.oldLineNo ?? lastOldLineNo %}
        {% set lastNewLineNo = entry.newLineNo ?? lastNewLineNo %}

        <tr>
          {% if entry.oldLineNo is defined %}
            <th class="diff-table__line-no diff-table__line-no--{{ entry.type }}">{{ entry.oldLineNo }}</th>
            <td class="diff-table__content diff-table__content--{{ entry.type }}"><code>{{ entry.old }}</code></td>
          {% else %}
            <td class="diff-table__col-spacer" colspan="2"></td>
          {% endif %}

          {% if entry.newLineNo is defined %}
            <th class="diff-table__line-no diff-table__line-no--{{ entry.type }}">{{ entry.newLineNo }}</th>
            <td class="diff-table__content diff-table__content--{{ entry.type }}"><code>{{ entry.new }}</code></td>
          {% else %}
            <td class="diff-table__col-spacer" colspan="2"></td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endwith %}
    </tbody>
  </table>
{% endblock %}
