{% extends 'base.html.twig' %}

{% block title 'title.active_global_user_bans'|trans %}
{% block site_nav_active 'admin' %}
{% block site_nav_main_menu_active 'bans' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock head %}

{% block body %}
  {{ include('ban/_tabs.html.twig', {page: 'user_bans'}, with_context=false) }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% embed '_layouts/table_pagination.html.twig' with { items: bans } %}
    {% block header %}
      <th class="table__shrink">{{ 'label.username'|trans }}</th>
      <th class="table__shrink">{{ 'label.banned_by'|trans }}</th>
      <th class="table__shrink">{{ 'label.banned'|trans }}</th>
      <th class="table__shrink">{{ 'label.expires'|trans }}</th>
      <th>{{ 'label.reason'|trans }}</th>
      <th class="table__shrink"></th>
    {% endblock header %}

    {% block row %}
      {% from 'user/_macros.html.twig' import user_link %}
      <td class="table__shrink">{{ user_link(item.user) }}</td>
      <td class="table__shrink">{{ user_link(item.bannedBy) }}</td>
      <td class="table__shrink">
        {% with { date: item.timestamp|localizeddate('long', 'short') } %}
          <time datetime="{{ item.timestamp|date('c') }}" title="{{ date }}" class="relative-time">
            {{- date -}}
          </time>
        {% endwith %}
      </td>
      <td class="table__shrink">
        {% if item.expiresAt %}
          {% set date = item.expiresAt|localizeddate('long', 'short') %}
          <time datetime="{{ item.expiresAt|date('c') }}" title="{{ date }}" class="relative-time">
            {{- date -}}
          </time>
        {% else %}
          {{ 'label.never'|trans }}
        {% endif %}
      </td>
      <td>{{ item.reason }}</td>
      <td class="table__shrink">
        <a href="{{ path('unban_user', {username: item.user.username}) }}" class="button button--small inline">
          {{- 'action.unban'|trans -}}
        </a>
      </td>
    {% endblock row %}
  {% endembed %}
{% endblock body %}
