{% extends 'base.html.twig' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: threads}, with_context=false) }}
{% endblock head %}

{% block site_nav_active 'notifications' %}
{% block title 'title.messages'|trans %}

{% block body %}
  {{ include('user/_inbox_nav.html.twig', { active: 'messages' }, with_context=false) }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% embed '_layouts/table_pagination.html.twig' with { items: threads } %}
    {% block header %}
      <th>{{ 'label.title'|trans }}</th>
      <th class="table__shrink">{{ 'label.last_message'|trans }}</th>
      <th class="table__shrink">{{ 'label.replies'|trans }}</th>
      <th class="table__shrink">{{ 'label.participants'|trans }}</th>
    {% endblock header %}

    {% block row %}
      {% from 'user/_macros.html.twig' import user_link %}
      {% from _self import _time %}

      <td><strong><a href="{{ path('message_thread', {id: item.id}) }}">{{ item.title }}</a></strong></td>
      <td class="table__shrink text-align-right">{{ _time(item.messages|last.timestamp) }}</td>
      <td class="table__shrink text-align-right">{{ (item.messages|length - 1)|localizednumber }}</td>
      <td class="table__shrink">
        {%- for participant in item.participants if participant is not same as(app.user) -%}
          {{- loop.index != 1 ? ', ' -}}
          {{- user_link(participant) -}}
        {%- endfor -%}
      </td>

      {% macro _time(datetime) %}
        {% with {date: datetime|localizeddate('long', 'short')} %}
          <time class="relative-time" datetime="{{ datetime|date('c') }}" title="{{ date }}">{{ date }}</time>
        {% endwith %}
      {% endmacro _time %}
    {% endblock row %}

    {% block flash_message 'flash.no_messages'|trans %}
  {% endembed %}
{% endblock body %}
