{##
 # TODO: remove this, it blows
 # - flag (int|string): one of App\Entity\UserFlags constants, or 'admin'/'moderator'
 # - class (string): Additional classes
 #}
{%- macro user_link(user, options) -%}
  {%- from _self import user_flag -%}
  <a href="{{ path('user', { username: user.username }) }}" class="{{ options.class ?? '' }}">
    {{- (options.prefix ?? false) ? '/u/' -}}
    {{- user.username -}}
  </a>
  {{ user_flag(options.flag ?? 0) }}
{%- endmacro user_link -%}

{% macro user_flag(flag) %}
  {%- if flag is same as(0) -%}
  {%- elseif flag is constant('App\\Entity\\UserFlags::FLAG_ADMIN') or flag == 'admin' -%}
    <small class="fg-red text-sm user-flag ">{{ 'user_flag.admin'|trans }}</small>
  {%- elseif flag is constant('App\\Entity\\UserFlags::FLAG_MODERATOR') or flag == 'moderator' -%}
    <small class="fg-green text-sm user-flag">{{ 'user_flag.moderator'|trans }}</small>
  {%- endif -%}
{% endmacro user_flag %}
