{% extends 'user/base.html.twig' %}

{% block site_nav_user_menu_active 'block_list' %}
{% block page_classes 'user-block-list-page' %}
{% block title 'title.block_list'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  <div class="alert alert--notice">
    <p>{{ 'help.block_users'|trans }}</p>
  </div>

  {% embed '_layouts/table_pagination.html.twig' with { items: blocks } %}
    {% block header %}
      <th class="table__shrink">{{ 'label.username'|trans }}</th>
      <th class="table__shrink">{{ 'label.blocked'|trans }}</th>
      <th>{{ 'label.comment'|trans }}</th>
      <th class="table__shrink"></th>
    {% endblock header %}

    {% block row %}
      {% from 'user/_macros.html.twig' import user_link %}

      <td class="table__shrink">{{ user_link(item.blocked) }}</td>

      <td class="table__shrink">
        {% with {date: item.timestamp|localizeddate('long', 'short')} %}
          <time datetime="{{ item.timestamp|date('c') }}" title="{{ date }}" class="relative-time">
            {{- date -}}
          </time>
        {% endwith %}
      </td>

      <td>{{ item.comment }}</td>

      <td class="table__shrink">
        <form action="{{ path('unblock_user', {id: item.id}) }}" method="post">
          <input type="hidden" name="token" value="{{ csrf_token('unblock') }}">
          <button class="button button--small inline">{{ 'action.unblock'|trans }}</button>
        </form>
      </td>
    {% endblock row %}
  {% endembed %}
{% endblock body %}
